{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ejemplo 1
{% endblock %}

{% block content %}


<p align=”justify”>Este es un ejemplo de lo que se le pide. Hay dos planes: <strong>plan A</strong> y <strong>plan B</strong> para cada pregunta. 
  Usted debe escoger <strong>plan A</strong> o <strong>plan B</strong> en cada pregunta.
</p>

<p align=”justify”>Le mostramos un ejemplo de cómo se ve cada pregunta:</p>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;
  }
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top;text-align: center;}
  .tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top;}
  .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top;text-align: center;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;
  text-align: center;}
  .tg .tg-0lax{text-align:left;vertical-align:top;text-align: center;}
  
  .bolilla{
    background-color:#fff;
      border: 1px solid black;    
      height:15px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:15px;
      display: inline-block;
      font-size: 10px;
      text-align: center;
  }
  </style>
<table class="tg" width = 980>
  <tr>
    <th class="tg-g1fv">Pregunta</th>
    <th class="tg-0449" colspan="1">Plan A</th>
    <th class="tg-0449" colspan="1">Plan B</th>
  </tr>
  <tr>
    <td class="tg-fymr">1</td>
    <td class="tg-0pky" style = "text-align: center;">
      Lotería: con 50% de probabilidad ganas 10 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0pky" >
      Recibes un pago seguro de 2 monedas experimentales.
    </td>
  </tr>
</table>


<p align=”justify”>
  <br>
  Ahora, usted deberá escoger <strong>plan A</strong> o <strong>plan B</strong> en cada pregunta que se le mostrará. Supongamos que usted escoge el <strong>plan A</strong> desde la pregunta 1 hasta la pregunta 4; y el <strong>plan B</strong> desde la pregunta 5 hasta la pregunta 14. 
  Entonces, sus respuestas se pueden ilustrar de la siguiente manera (note las preguntas resaltadas para los planes <b>A</b>–preguntas 1 a la 4 y <b>B</b>–preguntas 5 a la 11):
</p>


<p align=”justify”>
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;
    }
    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top;text-align: center;}
    .tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top;}
    .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top;text-align: center;}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;
    text-align: center;}
    .tg .tg-0lax{text-align:left;vertical-align:top;text-align: center;}
    
    .bolilla{
      background-color:#fff;
        border: 1px solid black;    
        height:15px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:15px;
        display: inline-block;
        font-size: 10px;
        text-align: center;
    }
    </style>
<table class="tg" width = 980>
  <tr>
    <th class="tg-g1fv">Pregunta</th>
    <th class="tg-0449" colspan="1">Plan A</th>
    <th class="tg-0449" colspan="1">Plan B</th>
  </tr>
  <tr>
    <td class="tg-fymr">1</td>
    <td class="tg-0pky" style = "background-color: rgb(250, 243, 201);">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0pky">Recibes un pago seguro de 2 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-fymr">2</td>
    <td class="tg-0pky" style = "background-color: rgb(250, 243, 201);"> 
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0pky">Recibes un pago seguro de 3 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-fymr">3</td>
    <td class="tg-0pky" style = "background-color: rgb(250, 243, 201);">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0pky">Recibes un pago seguro de 4 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">4</td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0pky">Recibes un pago seguro de 5 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">5</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 6 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">6</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 7 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">7</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 8 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">8</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 9 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">9</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 10 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">10</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 11 monedas experimentales.
    </td>
  </tr>
  <tr>
    <td class="tg-1wig">11</td>
    <td class="tg-0lax">
      Lotería: con 50% de probabilidad ganas 20 monedas experimentales, y con 50% de probabilidad no ganas nada.
    </td>
    <td class="tg-0lax" style = "background-color: rgb(250, 243, 201);">
      Recibes un pago seguro de 12 monedas experimentales.
    </td>
  </tr>
</table>
</p>

<p align=”justify”>
      Escojo el <strong>plan A</strong> desde la pregunta 1 hasta la pregunta: <b>4</b> <br><br>
      Escojo el <strong>plan B</strong> desde la pregunta: <b>5</b>
</p>

<p align=”justify”>
      <br>
      Finalmente, para los pagos, la computadora seleccionará al azar una entre 11 posibles preguntas: 1, 2, 3, ... 9, 10, 11. <br><br>
    
      De esta manera, si el la pregunta 1 es seleccionada al azar por la computadora, dado que se escogió el <strong>plan A</strong>
      se jugará la lotería <strong>(Lotería: con 50% de probabilidad ganas 10 monedas experimentales, y con 50% de probabilidad no ganas nada)</strong> y recibirán su pago de acuerdo a esta. <br><br>
    
      Asimismo, si la pregunta 3 es seleccionada al azar, para quienes escogieron el <strong>plan A</strong>
      se jugará la lotería <strong>(Lotería: con 50% de probabilidad ganas 10 monedas experimentales, y con 50% de probabilidad no ganas nada)</strong> y recibirán su pago de acuerdo a esta. <br><br>
    
      Por otro lado, si la pregunta 6 es seleccionada al azar por la computadora, dado que se escogió el <strong>plan B</strong> usted recibirá
      7 monedas experimentales. <br><br>
</p>
    {% next_button %}

{% endblock %}
