{% load otree static %}

{% block title %}
    Indicaciones generales
{% endblock %}

{% block content %}

    <p>
        El presente experimento consta de 5 partes (Parte 1, Parte 2, Parte 3, Parte 4 y Parte 5). En cada una de ellas
        usted deberá tomar decisiones y responder preguntas. Al final usted obtendrá un pago fijo de 5 soles por participación más un monto adicional que dependerá de las
        decisiones que tome en en cada una de las partes.   
    </p>    
    <p>
        En caso tengas algún problema durante el experimento (por ejemplo que te desconectes) o alguna consulta, escríbenos a este correo: e2lab@up.edu.pe o al número de WhatsApp +51 985 730 063.    
    </p>

    <p>
        <strong>Por favor, recuerda que solo puedes participar en el experimento desde una computadora o laptop. No está permitido participar a través
        de dispositivos móviles (tables o celulares), dado que la interfaz no lo permite. Por favor, recuerde que esto puede afectar el desarrollo del experimento 
        y a sus compañeros.</strong> 
    </p>

    <br>

    {% next_button %}

{% endblock %}
